.box{
    background-color:rgb(247, 123, 165) ;
    display: flex;
    justify-content: center;
}
/* #weathercon{
    display: flex;
    
} */
#weathercon i{
    margin: 10px;
    margin-left: 100px;
}
.info{
    display: inline-block;
}
.location{
    font-size: 20px;
    color: white;
}
.location i{
    margin: 10px;
}
.info h2{
    margin: 2px;
    font-size: 30px;
}
.info p{
    margin: 3px;
    padding: 2px;
    font-size: 20px;
    color: white;
    margin-left: 42px;
}